/* Bebas Neue */
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueThin.ttf') format('ttf'), url('../fonts/BebasNeueThin.otf') format('otf');
    font-weight: 100
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueLight.ttf') format('ttf'), url('../fonts/BebasNeueLight.otf') format('otf');
    font-weight: 200
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueBook.ttf') format('ttf'), url('../fonts/BebasNeueBook.otf') format('otf');
    font-weight: 300
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueRegular.ttf') format('ttf'), url('../fonts/BebasNeueRegular.otf') format('otf');
    font-weight: 400
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueBold.ttf') format('ttf'), url('../fonts/BebasNeueBold.otf') format('otf');
    font-weight: 700
}